* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------------------ANIMASJON-------------------------------- */

@keyframes slow-reveal {
    /* START: Bildet er 100% klippet vekk fra høyre, altså usynlig */
    0% {
        -webkit-clip-path: inset(0 0% 0 100%); /* For Safari */
        clip-path: inset(0 0% 0 100%);
    }
    
    /* FADE-IN (av bildeområdet): Stjerneskuddet blir synlig fra venstre */
    20% {
        -webkit-clip-path: inset(0 0% 0 100%); 
        clip-path: inset(0 0% 0 100%);
    }
    
    /* FULLT SYNLIG: Hele bildet vises */
    50% {
        -webkit-clip-path: inset(0 0% 0 100%); 
        clip-path: inset(0 27% 0 0%);
    }

    /* FORBLIR SYNLIG: Holder seg synlig et øyeblikk */
    70% {
        -webkit-clip-path: inset(0 0% 0 100%); 
        clip-path: inset(0 100% 0 0);
    }

    /* FADE-OUT (av bildeområdet): Stjerneskuddet forsvinner fra venstre til høyre */
    100% {
        -webkit-clip-path: inset(0 0% 0 100%); 
        clip-path: inset(0 100% 0 0%);
    }
}

#maling1 {
    /* Grunnleggende styling */
    height: auto;
    display: block;
    /* Animasjons-egenskapene: */
    animation-name: slow-reveal; /* Bruk den nye animasjonen */
    animation-duration: 3s; /* Slow-mo varighet */
    animation-timing-function: ease-in-out; 
    animation-iteration-count: infinite; 
}


#maling2 {
    /* Grunnleggende styling */
    height: auto;
    display: block;
    /* Animasjons-egenskapene: */
    animation-name: slow-reveal; /* Bruk den nye animasjonen */
    animation-duration: 3s; /* Slow-mo varighet */
    animation-timing-function: ease-in-out; 
    animation-iteration-count: infinite; 
}


#maling3 {
    /* Grunnleggende styling */
    height: auto;
    display: block;
    /* Animasjons-egenskapene: */
    animation-name: slow-reveal; /* Bruk den nye animasjonen */
    animation-duration: 3s; /* Slow-mo varighet */
    animation-timing-function: ease-in-out; 
    animation-iteration-count: infinite; 
}



/* -------------------------ANIMASJON  SLUTT ----------------------*/


body {
    background-color: rgb(102, 102, 102);

}

.nunito_font {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    display: flex;
    justify-content: space-between;
}

header {
    width: 100%;
    font-size: 22px;
    background-color: rgb(79, 57, 100);
    height: 80px;
    color: #FFE006;
    padding: 0px 20px 0px 0px;
    border: solid 4px rgba(0, 0, 0, 0.268);
    border-radius: 20px 20px 0px 20px;
    margin-top: 20px;
    display: flex;
    align-items: center; /* Justerer innholdet vertikalt */
    justify-content: space-between; /* Plasserer logoen og navigasjonslisten i hver sin ende */
    box-sizing: border-box;
}

#logo_header {
    width: 190px; /* Juster etter ønsket størrelse */
    position: relative;
    opacity: 70%;
}

#logo_header img {
    width: 100%; /* Gjør at bildet tar opp hele bredden av #logo_header */
    height: auto;
    position: absolute;
    top: -32px; /* Juster etter ønsket posisjon */
    left: 40px;
    /*box-shadow: 5px 5px 15px #009999;  */
}

header ul {
    list-style: none;
    display: flex; /* Plasserer listeelementene horisontalt */
    gap: 60px; /* Avstand mellom elementene */
    padding-right: 150px;
}

header ul a {
    color: inherit; /* Arver tekstfargen fra foreldreelementet eller annen angitt farge */
    text-decoration: none; /* Fjerner understrekningen */
}

main {
    display: flex;
    flex-direction: column;
}

.maling-flex {
    display: flex;
    flex-direction: column;
    position: absolute; /* Gjør at absolutt posisjonerte barn forholder seg til denne */
}

#maling1 {
    position: absolute;
    margin-left: 20rem;
    margin-top: 7px;
    z-index: 3;
    rotate: 10deg;

}

#maling2 {
    position: absolute;
    z-index: 3;
    margin-left: 4rem;
    margin-top: 7px;
    rotate: 10deg;
}

#maling3 {
    position: absolute;
    z-index: 3;
    margin-left: 13rem;
    margin-top: 18rem;
    rotate: 1deg;
}

.flex-container1{
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Sørger for avstand mellom elementene */
    align-items: center; /* Justerer vertikalt på midten */
    gap: 2rem; /* Avstand mellom tekst og bilde */
    position: relative;
    padding: 0 0 0 2rem;
}

.om_meg {
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(173, 173, 173);
    padding: 0 0 12rem 1rem;
    text-shadow: 3px 3px 15px #232525;
    flex: 1; /* Gir teksten fleksibilitet i bredden */
}

.uthevet {
    font-weight: 200;
    color: #FFE006;
    text-shadow: 3px 3px 15px #232525;
}



.bilde-container1 img {
    max-width: 100%; /* Bildet skal ikke overstige containeren
    height: 25%; /* Bevarer proporsjonene */
    object-fit: cover; /* Gjør at bildet dekker området hvis nødvendig */
    flex: 1; /* Gir bildet fleksibilitet i bredden */
}

#linje1 {
    margin-left: 1%;
    width: 100%;
    height: 2px;
    border: none;
    background-color: #009999;
    
}

footer {
    background-color: rgb(79, 57, 100);
    display: flex;
    flex-direction: row-reverse;
    padding-right: 40px;
    border-radius: 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
}

footer p {
    color: #FFE006;
    margin: auto;
}

/* Dette under her er til prosjekter og kontakt siden */

#prosjekter {
    color: white;
}

#kontakt {
    color: white;
}